{% extends "basis.html" %}
{% block title %}Graph{% endblock %}

{% block content %}
                <section>
                    <header><h3>Chart</h3></header>
                        <div id="chart" class="chart" style="min-width: 310px; height: 600px; margin: 0 auto"></div>
                    <ul class="actions">
                        <li><a href="#one" class="button special small" onclick="showHideDiv()">Show Description</a></li>
                        <li><a href="/" class="button special small">Back</a></li>
                    </ul>
                </section>
                <hr />

                <section id="one" style="visibility:hidden">
                    <header>
                        <h3>Description</h3>
                        <p>Unmanned underwater apparatus frame hydrodynamic coefficients</p>
                    </header>
                        <ul class="alt">
                            <li>R - circle radius</li>
                            <li>H - depth circle center under free fluid surface</li>
                            <li>x - frequency parameter x = sigma^2*l/g, l=sqrt(H*H-R*R)</li>
                            <li>Bj - define nondimensional amplinude of exciting fofces 
                            (sum of Krylov's and diffraction parts) applied to circle
                            contour due to progressive waves</li>
                            <li>lmb - Nondimensional circle contour damping lambda-coefficient </li>
                            <li>n - frequency parameter n = sigma^2*l/g, l=sqrt(H*H-R*R)</li>
                        </ul>
                </section>       

    <script>
        $(function() {
            
            $('#chart').highcharts({
                chart: {
                    type: 'spline',
                    zoomType: 'x'
                },
                title: {
                    text: "Forces"
                },
                tooltip: {
                    shared: true,
                    crosshairs: true
                },
                xAxis: {
                    title: {
                        text: 'Frequency'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Values'
                    }
                },
                plotOptions: {
                    area:{
                        marker: {
                            radius: 2
                        },
                        lineWidth: 1,
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        },
                        threshold: null
                    }
                },
                series: {{ fb|tojson|safe }}
            });


        });
        function showHideDiv() { 
            var divstyle = new String(); 
            divstyle = document.getElementById("one").style.visibility; 
            if (divstyle.toLowerCase() == "visible" || divstyle == "") { 
                document.getElementById("one").style.visibility = "hidden"; 
            } 
            else { 
                document.getElementById("one").style.visibility = "visible"; 
            } 
        } 
    </script>
{% endblock %}